$font-family-sans-serif: 'Nunito Sans', sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/variables";

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: $dark;
  color: $white;
}

.header {
  background-color: $gray-900;

  #new-task-btn {
    color: $gray-500;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: $success;
    }
  }
}

.new-task {
  border-bottom: thin solid $gray-700;

  .btn {
    border-radius: 0;
    background-color: transparent;
    color: $gray-200;
    cursor: pointer;
    transition: color 0.25s;

    &:hover {
      color: $success;
    }
  }

  form {
    margin: 0;
  }

  input {
    border: none;
    background-color: transparent;
    color: $white;
    padding: {
      left: 0.5rem;
      right: 0.5rem;
    }

    &:focus {
      outline: none;
    }
  }
}

.tasks {
  margin: 0;
  padding: 0;

  .task {
    list-style-type: none;
    border-bottom: thin solid $gray-700;
    transition: background-color 0.5s, color 0.25s;
    height: 40px;
    line-height: 40px;
    color: $gray-500;

    .actions {
      .btn {
        background-color: transparent;
        transition: color 0.5s;
        color: $white;
        border-radius: 0;
        border: none;
        outline: none;

        &.remove-task-btn:hover {
          color: $danger;
        }

        &.start-task-btn:hover {
          color: $warning;
        }
      }
    }

    .desc {
      padding-left: 0.5rem;
    }

    &.active {
      background-color: lighten($dark, 5);
      color: $gray-200;
    }

    &:hover {
      .actions {
        button {
          color: $light;
        }
      }
    }
  }
}

.timer {
  transition: background-color 0.5s;

  &.timer-work {
    background-color: $danger;
  }

  &.timer-pause {
    background-color: $success;
  }

  &.timer-long-pause {
    background-color: $primary;
  }

  .timeout {
    text-align: center;
  }

  .task-description {
    text-align: center;
    background-color: transparentize($dark, 0.9);
    padding: {
      top: 0.5rem;
      bottom: 0.5rem;
    }
  }

  .timer-progress {
    position: relative;
    height: 315px;

    .timer-progress-ring {
      position: absolute;
      top: 7px;
      width: 100%;
      text-align: center;

      .progress-ring__circle {
        transition: stroke-dashoffset 0.35s;
        transform: rotate(-90deg);
        transform-origin: 50% 50%;
      }
    }

    .timeout {
      padding-top: 100px;
      margin: 0;
    }
  }
}
